.main-banner {
    height: 600px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.25)),
        (url(../images/Pizza-Main-Banner.png));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}